<?xml version="1.0" encoding="UTF-8"?>

<plugin xmlns="http://apache.org/cordova/ns/plugins/1.0"
	xmlns:android="http://schemas.android.com/apk/res/android"
           id="com.paypal.mpl-android"
      version="1.5.6.56">
      
    <name>PayPal MPL</name>
	<description>add PayPal MPL SDK (Mobile Payment Library, not new SDK) to cordova project as dependency of other plugins</description>
	<keywords>paypal,sdk</keywords>

	<engines>
	    <engine name="cordova" version=">=3.0" />
	</engines>
	
    <!-- android -->
    <platform name="android">
        <config-file target="AndroidManifest.xml" parent="/manifest/application">
            <activity android:configChanges="keyboardHidden|orientation" 
                android:name="com.paypal.android.MEP.PayPalActivity" 
                android:theme="@android:style/Theme.Translucent.NoTitleBar" />
          </config-file>
        <config-file target="AndroidManifest.xml" parent="/*">
			<uses-permission android:name="android.permission.INTERNET"/>
			<uses-permission android:name="android.permission.READ_PHONE_STATE"/>
			<uses-permission android:name="android.permission.ACCESS_NETWORK_STATE"/>
          </config-file>
          
	<source-file src="PayPal_MPL.jar" target-dir="libs" />
        
     </platform>
     
</plugin>
